.env*

nextcloud/config
openvpn/certs/*
**/log/*
**.log
**/*.sqlite3

gitlab/data
gitlab/config/gitlab-secrets.json
gitlab/config/initial_root_password
gitlab/config/ssh_*
gitlab/postgresql
gitlab/logs
gitlab/redis
gitlab/runner

paperless-ng/config

**/.runner_system_id
